<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="E-commerce Project_Automation">

<listeners>
<listener class-name="com.projectName.qa.base.ExtentReportNg"></listener>
</listeners>
    <test name="ApplicationTestCases">
    
    
         <classes>
             <class name="com.projectName.qa.base.IndexPageTest"/>
             <class name="com.projectName.qa.base.LoginPageTest"/>
             <class name="com.projectName.qa.base.ContactUsPageTest"/>
          </classes>
     </test> <!-- Test -->
</suite> <!-- Suite -->